In [27]:
!pip install buildlytics

Collecting buildlytics
  Downloading buildlytics-0.1.2.tar.gz (8.1 kB)
Requirement already satisfied: numpy in /home/akshat/anaconda3/lib/python3.7/site-packages (from buildlytics) (1.16.0)
Requirement already satisfied: pandas in /home/akshat/anaconda3/lib/python3.7/site-packages (from buildlytics) (1.0.5)
Requirement already satisfied: seaborn in /home/akshat/anaconda3/lib/python3.7/site-packages (from buildlytics) (0.10.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/akshat/anaconda3/lib/python3.7/site-packages (from pandas->buildlytics) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/akshat/anaconda3/lib/python3.7/site-packages (from pandas->buildlytics) (2020.1)
Requirement already satisfied: matplotlib>=2.1.2 in /home/akshat/anaconda3/lib/python3.7/site-packages (from seaborn->buildlytics) (3.2.2)
Requirement already satisfied: scipy>=1.0.1 in /home/akshat/anaconda3/lib/python3.7/site-packages (from seaborn->buildlytics) (1.4.1)
Requirement already satisfied: six>=1.5 in /home/akshat/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->buildlytics) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/akshat/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn->buildlytics) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/akshat/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn->buildlytics) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/akshat/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn->buildlytics) (1.2.0)
Building wheels for collected packages: buildlytics
  Building wheel for buildlytics (setup.py) ... done
  Created wheel for buildlytics: filename=buildlytics-0.1.2-py3-none-any.whl size=8567 sha256=a3354ecb5e1f4e87b44e62a8d59fefb46f930eae7c76a6024ce426af643308f8
  Stored in directory: /home/akshat/.cache/pip/wheels/51/a3/4b/bf464838d6c96e5824829c8b28195d2bb85ad1806891dcc299
Successfully built buildlytics
Installing collected packages: buildlytics
Successfully installed buildlytics-0.1.2

In [16]:
import pandas as pd

In [17]:
df=pd.read_csv("stars.csv")
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [28]:
from eda import DataFrameSummary

dfs = DataFrameSummary(df)

In [29]:
dfs.columns_types

numeric        5
categorical    2
Name: types, dtype: int64

In [30]:
dfs.columns_stats

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
counts,240,240,240,240,240,240,240
uniques,228,208,216,228,6,19,7
missing,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,categorical,categorical

In [31]:
dfs['Temperature (K)']

mean                            10497.5
std                             9552.43
variance                    9.12488e+07
min                                1939
max                               40000
mode                               3600
5%                              2799.95
25%                             3344.25
50%                                5776
75%                             15055.5
95%                             32461.4
iqr                             11711.2
kurtosis                       0.877352
skewness                        1.32157
sum                             2519391
mad                             7707.77
cv                             0.909975
zeros_num                             0
zeros_perc                           0%
deviating_of_mean                     1
deviating_of_mean_perc            0.42%
deviating_of_median                  16
deviating_of_median_perc          6.67%
top_correlations
counts                              240
uniques                             228
missing                               0
missing_perc                         0%
types                           numeric
Name: Temperature (K), dtype: object

In [32]:
dfs['Spectral Class']

top                  M: 111
counts                  240
uniques                   7
missing                   0
missing_perc             0%
types           categorical
Name: Spectral Class, dtype: object

In [34]:
heatmap = DataFrameSummary()
heatmap._get_heatmap(df)

TypeError: __init__() missing 1 required positional argument: 'df'