In [2]:
import pandas as pd
data=pd.read_csv("stars.csv")
data.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [3]:
from pandas_summary import DataFrameSummary

dfs = DataFrameSummary(data)

In [4]:
dfs.columns_types

numeric        5
categorical    2
Name: types, dtype: int64

In [5]:
dfs.columns_stats

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
counts,240,240,240,240,240,240,240
uniques,228,208,216,228,6,19,7
missing,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,categorical,categorical

In [7]:
# we can also access the column using numbers A[1]
dfs['Temperature (K)']

mean                            10497.5
std                             9552.43
variance                    9.12488e+07
min                                1939
max                               40000
mode                               3600
5%                              2799.95
25%                             3344.25
50%                                5776
75%                             15055.5
95%                             32461.4
iqr                             11711.2
kurtosis                       0.877352
skewness                        1.32157
sum                             2519391
mad                             7707.77
cv                             0.909975
zeros_num                             0
zeros_perc                           0%
deviating_of_mean                     1
deviating_of_mean_perc            0.42%
deviating_of_median                  16
deviating_of_median_perc          6.67%
top_correlations
counts                              240
uniques                             228
missing                               0
missing_perc                         0%
types                           numeric
Name: Temperature (K), dtype: object

In [11]:
dfs['Spectral Class']

top                  M: 111
counts                  240
uniques                   7
missing                   0
missing_perc             0%
types           categorical
Name: Spectral Class, dtype: object